@model IEnumerable<Amazon.Models.ProductRequest>

@{
    ViewBag.Title = "Index";
}
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Product_ID }) |
            @Html.ActionLink("Delete", "Delete", new { Product_ID= item.Product_ID }) |
            @Html.ActionLink("Accept", "Accept", new { id = item.ID })

        </td>
    </tr>
}

</table>
