@model IEnumerable<Amazon.Models.SellerRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seller.SellerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.SellerName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID ,seller_ID = item.Seller_ID}) |
            @Html.ActionLink("Details", "Details", new { id=item.Seller_ID }) |
            @Html.ActionLink("Accept", "Accept", new { id=item.ID })
        </td>
    </tr>
}

</table>
