@model Amazon.Models.ProductPictureDescrption

@{
    ViewBag.Title = "ProductDetail";
    AKARTDBContext _db = new AKARTDBContext();
    var ActualPrice = Model.ProductPrice - (Model.ProductPrice*Model.ProductDiscount)/100;
    var modelK = _db.Kart.Where(k => k.Product_ID == Model.ID).ToList();
    var AvailableQuantity = Model.ProductQuantity;

    foreach(var k in modelK)
    {
        AvailableQuantity -= k.Quantity;
    }

    // to show reviews of product
    var modelF = _db.Feedback.Where(f => f.Product_ID == Model.ID).Take(10).ToList();

    string[] strArray = Model.ProductDescription.Split(',');
}
<br />
<h2>ProductDetail</h2>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd>
            <img src="~/ProductPicture/@Model.PicturePath" alt="Flowers in Chania" width="30px" height="50px">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Actual Price
        </dt>

        <dd>
            @ActualPrice
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProductQuantity)*@
            @AvailableQuantity
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGenderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGenderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProductDescription)*@
            <ul>
                @foreach (var obj in strArray)
                {
                    <li>@obj</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicturePath)
            @*<img src="~/ProductPicture/@Model.PicturePath" alt="Flowers in Chania" width="300px" height="500px">*@
        </dd>

    </dl>
</div>
<div>
    <h5 style="color:green">@ViewBag.Message</h5>

</div>
<div>

    @if (AvailableQuantity > 0)
    {
        @Html.ActionLink("Add To Kart", "AddToKart", new { Product_ID = Model.ID })
    }
    else
    {
        <P>Product out of Stock</P>
    }

    |@Html.ActionLink("Go To Kart", "GoToKart") |
        <a href="@Url.Action("Add", "Wishlist",new {Product_ID = Model.ID },null )">Add To Wishlist</a>|



    @Html.ActionLink("Back", "Index")
</div>
<form method="post">
    <input type="number" name="Rating" />
    <input type="text" name="Review" />
    <input type="submit" value="Post" />
</form>

<table class="table">
    @foreach (var item in modelF)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
        </tr>
    }

</table>


