@model IEnumerable<Amazon.Models.Kart>

@{
    ViewBag.Title = "VerifyOrder";
    long TotalPrice = 0;
}

<h2>VerifyOrder</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @{
                    var ActualPrice = item.Product.ProductPrice - (item.Product.ProductPrice * item.Product.ProductDiscount) / 100;
                    ActualPrice *= item.Quantity;
                    TotalPrice += Convert.ToInt64(ActualPrice);

                }
                @ActualPrice
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }

</table>

<div>
    Total Amount : @TotalPrice

</div>
<p>
    @Html.ActionLink("Place Order", "PlaceOrder")
</p>
